*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-links ul li {
    margin-bottom: 35px;
    list-style: none;
}
.main-links ul:first-child {
    margin-top: 35px;
}
.main-badges{
    float: right;
    background: #ee6c62;
    color: #fff;
    font-size: 0.85rem;
    border-radius: 50%;
    padding: 0 6px;
    font-weight: bold;
    margin-top: 3px;
}

/*---Top Nav-*/

.btn-custom {
    background: #ee6c62;
    color: #fff;
    border-radius: 7px;
    border: none;
    font-size: 1rem;
    padding: 2px 10px;
}

.icon-container {
    margin-right: 25px;
    position: relative;

    & span {
        position: absolute;
        background: #ee6c62;
        color: #fff;
        font-size: 0.85rem;
        border-radius: 50%;
        padding: 0 6px;
        font-weight: bold;
        top: -7px;
        left: 8px;

    }
}

.c-item{
    height: 350px;
}
.c-image{
    height: 100%;
    object-fit:cover;
    filter: brightness(0.6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/*--Content--*/

.box-1 {
    display: flex;
    margin-top: 15px;

    & div {
        flex-basis: 24.2%;
        margin: 0 auto;
        border: 1px solid #919191;
    }
}

/*-- Authentication: Login --*/

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.login {
  width: 80%;
  margin-top: 100px;
  
  & .login-header {
    font-weight: 700;
  }
}



/*-- Responsiveness --*/
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}