
.btn-custom{
    width: 100px;
    border-radius: 10px;
    background: #f24236;
    border: none;

    & .logout {
        color: #fff;
        text-decoration: none;
    }
}
.c-item{
    height: 480px;  
}
.c-image{
    height: 100%;
    object-fit:cover;
    filter: brightness(0.6);
}